/*.travel-detail-popup{
  .modal-dialog{
    margin: 0 auto;
    @include border-radius(0px);
    @include box-shadow(none);
    .modal-content{
      @include border-radius(0px);
      @include box-shadow(none);
      border: none;
      .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
      }
    }
  }
}*/

.popup-page{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1050;
  background: rgba(0,0,0,0.5);
  overflow: auto;
  .popup-container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    .popup-header{
      height: 40px;
      background: #e2eef9;
      padding: 0;
      border: none;
      position: fixed;
      width: 1140px;
      z-index: 1050;
      h2{
        font-size: 16px;
        /*font-weight: bold;*/
        height: 40px;
        line-height: 40px;
        background: #3871b8;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        color: #FFF;
      }
      .zoom{
        float: left;
        height: 40px;
        line-height: 40px;
        border-left: 1px solid #cbcbcb;
        padding: 0 5px;
        span{
          font-size: 18px;
          top: 4px;
          position: relative;
          float: left;
          margin-right: 5px;
        }
      }
      .popup-close{
        border-left: 1px solid #cbcbcb;
        width: 40px;
        height: 40px;
        float: left;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        span{
          top: 4px;
          position: relative;
          color: #333;
        }
      }
    }
    .popup-body{
      padding: 50px 10px 10px 10px;
      position: relative;
      .slider{
        .rsDefault,
        .royalSlider{
          width: 100%;
          background: #FFFFFF;
          .rsOverflow{
            background: #FFFFFF;
          }
        }
        .rsDefault, 
        .rsDefault .rsOverflow, 
        .rsDefault .rsSlide, 
        .rsDefault .rsVideoFrameHolder, 
        .rsDefault .rsThumbs{
          background: #FFFFFF;
        }
        .rsThumbs{
          margin-top: 15px;
          .rsThumbsContainer{
            margin-left: -4px !important;
          }
        }
      }
      .content-page-popup{
        margin-top: 15px;
        .about{
          h2{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
          }
          p{
            line-height: 22px;
            margin-top: 10px;
            text-align: justify;
          }
        }
      }
    }
  }
}
.list-catelog{
  h2{
    margin: 15px 0;
  }
  table{
    width: 100%;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    thead{
      th{
        height: 30px;
        padding: 5px;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;
      }
      th.no{
        width: 5%;
      }
      th.name{
        width: 45%;
      }
      th.price{
        width: 25%;
      }
    }
    tbody{
      tr{
        td.colspan{
          text-align: center;
          font-weight: bold;
          background: #f5f5f5;
          text-transform: uppercase;
        }
        td{
          height: 30px;
          padding: 5px;
          border-bottom: 1px solid $color-border;
          border-right: 1px solid $color-border;
        }
      }
    }
    
  }
}
.list-related{
  h2{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .map-related{
    height: 315px;
    background: #DDD;
  }
  .support{
    
  }
}
.list-icon-support{
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  ul{
    li{
      width: 50%;
      float: left;
      span{
        width: 10px;
        height: 10px;
        display: inline-block;
        @include border-radius(50%);
      }
    }
    li.current{
      span{
        background: $current;
      }
    }
    li.tours{
      span{
        background: $tours;
      }
    }
    li.taste{
      span{
        background: $taste;
      }
    }
    li.hotel{
      span{
        background: $hotel;
      }
    }
    li.park{
      span{
        background: $park;
      }
    }
  }
}
.support{
  display: inline-block;
  width: 100%;
  float: left;
  border-top: 2px solid #71be0f;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding: 10px;
  h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  ul{
    li{
      border-bottom: 1px solid $color-border;
      padding: 10px 0;
      .item{
        display: inline-block;
        width: 100%;
        .icon{
          width: 50px;
          height: 50px;
          float: left;
          @include border-radius(3px);
          background: #DDD;
        }
        .content-support{
          float: left;
          padding-left: 5px;
          padding-right: 5px;
          p.hotline{
            font-weight: bold;
          }
          p.name{
            font-weight: bold;
          }
          a{
            color: #000;
          }
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
.comment{
  display: inline-block;
  width: 100%;
  h2{
    text-transform: uppercase;
    border-bottom: 1px solid $color-border;
    padding-bottom: 5px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    span{
      position: relative;
      top: 10px;
    }
    a.buttom-comment{
      padding: 5px 5px;
      display: inline-block;
      background: $comment;
      color:#FFF;
      font-weight: normal;
      @include border-radius(2px);
      cursor: pointer;
    }
  }
  .list-comment{
    li{
      padding: 15px 0;
      border-bottom: 1px solid $color-border;
      .comment-item{
        display: inline-block;
        width: 100%;
        .avartar{
          width: 48px;
          height: 48px;
          float: left;
          margin-right: 15px;
          img{
            width: 48px;
            height: 48px;
            @include border-radius(50%);
          }
        }
        .comment-content{
          overflow: hidden;
          p{
            margin-top: 0 !important;
          }
          .comment-info{
            padding-bottom: 15px;
            .list-gallery{
              margin-top: 15px;
              display: inline-block;
              width: 100%;
              a{
                width: 105px;
                display: inline-block;
                margin-bottom: 10px;
                margin-right: 10px;
                img{
                  max-width: 104px;
                  display: inline-block;
                }
              }
            }
            .form-replies{
              a{
                @include border-radius(2px);
                padding: 1px 5px;
                border: 1px solid $color-border;
                background: #FFF;
                display: inline-block;
                margin-right: 5px;
                font-size: 12px;
                cursor: pointer;
              }
            }
          }

          .comment-replies{
            border-top: 1px solid $color-border;
            padding-top: 15px;
          }
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .views-all{
    text-align: center;
    a{
      padding: 5px 15px;
      background: #f8f8f8;
      border: 1px solid $color-border;
      @include border-radius(3px);
      display: inline-block;
      cursor: pointer;
    }
  }
}
.poup-footer{
  padding: 15px 8px 0px 8px;
  border-top: 1px solid $color-border;
  background: #f5f5f5;
  h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
  }
}