.popup-page{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1050;
  background: rgba(0,0,0,0.5);
  overflow: auto;
  display: none;
  .popup-container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
    background-color: #f5f5f5;
    .popup-header{
      height: 40px;
      background: #e2eef9;
      padding: 0;
      border: none;
      position: fixed;
      width: 1140px;
      z-index: 1050;
      h2{
        font-size: 16px;
        /*font-weight: bold;*/
        height: 40px;
        line-height: 40px;
        background: $header;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        color: #FFF;
      }
      .zoom{
        float: left;
        height: 40px;
        line-height: 40px;
        border-left: 1px solid #cbcbcb;
        padding: 0 5px;
        span{
          font-size: 18px;
          top: 4px;
          position: relative;
          float: left;
          margin-right: 5px;
        }
      }
      .popup-close{
        border-left: 1px solid #cbcbcb;
        width: 40px;
        height: 40px;
        float: left;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        cursor: pointer;
        span{
          top: 4px;
          position: relative;
          color: #333;
        }
      }
    }
    .popup-body{
      padding: 50px 10px 10px 10px;
      position: relative;
      .slider{
        display: inline-block;
        width: 100%;
      }
    }
  }
}
.popup-page.on{
  display: block;
}
.list-catelog{
  h2.title{
    margin: 20px 0 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
  a.history{
    position: relative;
    width: 30px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    .view-gallery{
      position: absolute;
      top: -30px;
      left: -40px;
      background: $header;
      @include border-radius(3px);
      padding: 0 5px;
      font-size: 12px;
      color: #FFF;
      white-space: nowrap;
      width: 100px;
      height: 24px;
      line-height: 24px;
      display: none;
      z-index: 9999;
      &:before{
        content: " ";
        border-top: 5px solid $header;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        bottom: -5px;
        position: absolute;
        left: 50%;
        margin-left: -2px;
      }
    }
    &:hover{
      .view-gallery{
        display: block;
      }
    }
  }
  table{
    width: 100%;
    border-left: 1px solid $color-border;
    border-top: 1px solid $color-border;
    thead{
      th{
        height: 30px;
        padding: 5px;
        border-bottom: 1px solid $color-border;
        border-right: 1px solid $color-border;
      }
      th.no{
        width: 5%;
      }
      th.name{
        width: 45%;
      }
      th.price{
        width: 25%;
      }
    }
    tbody{
      tr{
        td.colspan{
          text-align: center;
          font-weight: bold;
          background: #e2eef9;
          text-transform: uppercase;
        }
        td{
          height: 30px;
          padding: 5px;
          border-bottom: 1px solid $color-border;
          border-right: 1px solid $color-border;
        }
      }
    }
    
  }
}
.list-related{
  .map-content{
    margin-bottom: 15px;
    .related-item{
      background: #FFF;
      border: 1px solid #DDD;
    }
    h2{
      border-bottom: 2px solid #71be0f;
      padding-bottom: 3px;
      margin: 0;
    }
  }

  h2{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    
  }
  .map-related{
    height: 315px;
    background: #DDD;
  }
  .support{
    background: #FFF;
  }
}
.list-icon-support{
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  ul{
    li{
      width: 50%;
      float: left;
      span{
        width: 10px;
        height: 10px;
        display: inline-block;
        @include border-radius(50%);
      }
    }
    li.current{
      span{
        background: $current;
      }
    }
    li.tours{
      span{
        background: $tours;
      }
    }
    li.taste{
      span{
        background: $taste;
      }
    }
    li.hotel{
      span{
        background: $hotel;
      }
    }
    li.park{
      span{
        background: $park;
      }
    }
  }
}
.support{
  display: inline-block;
  width: 100%;
  float: left;
  border-top: 2px solid #71be0f;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  padding: 10px;
  h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  ul{
    li{
      border-bottom: 1px solid $color-border;
      padding: 10px 0;
      .item{
        display: inline-block;
        width: 100%;
        .icon{
          width: 50px;
          height: 50px;
          float: left;
          @include border-radius(3px);
          background: #DDD;
        }
        .content-support{
          float: left;
          padding-left: 5px;
          padding-right: 5px;
          p.hotline{
            font-weight: bold;
          }
          p.name{
            font-weight: bold;
          }
          a{
            color: #000;
          }
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}

.poup-footer{
  padding: 15px 8px 0px 8px;
  border-top: 1px solid $color-border;
  background: #f5f5f5;
  h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
  }
}
.list-related.list-province-item{
  display: inline-block;
  width: 100%;
  .item-img{
    margin-bottom: 5px;
  }
  .item-des{
    padding: 5px;
  }
  h2.title{
    margin-top: 15px;
    border-bottom: 2px solid #DDD;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  li{
    .item{
      border: 1px solid #DDD;
      background: #FFF;
    }
  }
  h2{
    a{
      line-height: 22px;
      max-height: 44px;
      overflow: hidden;
      display: inline-block;
    }
  }
}