.wrapper{
  overflow: hidden;
  padding-top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  #container{
    height: 100%;
    .view{
      width: 35%;
      position: absolute;
      right: 0;
      top: 100px;
      bottom: 0;
      z-index: 9;
      @include box-shadow(-2px 3px 5px 0px rgba(0, 0, 0, 0.4));
      .list-container-view{
        overflow-y: auto;
        width: 100%;
        height: 100%;
      }
    }
    .map-content{
      width: 65%;
      position: absolute;
      left: 0;
      height: 100%;
      background: #DDD;
    }
  }
}
.header{
  height: 50px;
  padding-left: 110px;
  .logo{
    width: 100px;
    height: 100px;
    background: $background-default;
    position: absolute;
    top: 0;
    left: 0;
  }
  #menu-top{
    li{
      display: inline-block;
      a{
        height: 50px;
        line-height: 50px;
        padding-right: 30px;
        font-size: 16px;
      }
    }
  }
  #login{
    li{
      display: inline-block;
      a{
        display: inline-block;
        line-height: 50px;
        height: 50px;
      }
    }
  }
}
.search{
  height: 50px;
  background: #e2eef9;
  .page-search{
    
    width: 65%;
    float: left;
    height: 50px;
    position: relative;
    .search-item{
      height: 50px;
      width: 100%;
      position: absolute;
      z-index: 9;
      @include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.4));
      .search-list{
        padding-left: 110px;
        height: 50px;
        width: 100%;
      }
    }
  }
  .page-search-title{
    width: 35%;
    float: left;
    height: 50px;
    background: #232f3e;
  }
  .list-search{
    
  }
  .item-title{
    h1{
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      color: #FFF;
      text-transform: uppercase;
      padding: 0 15px;
      span{
        font-size: 24px;
        &:before{
          position: relative;
          top: 5px;
        }
      }
    }
  }
}
.province-container{
  padding: 10px;
  ul{
    li{
      border-bottom: 1px solid #DDD;
      display: block;
      width: 100%;
      padding: 10px 0;
      float: left;
      .province-item{
        .province-img{
          width: 40%;
          float: left;
        }
        .province-content{
          width: 60%;
          float: left;
          padding-left: 10px;
          h2{
            font-size: 14px;
            font-weight: bold;
          }
          .list-count-content{
            width: 100%;
            .list-count-item{
              width: 50%;
              float: left;
              padding: 5px 0;
              p{
                span{
                  width: 10px;
                  height: 10px;
                  @include border-radius(50%);
                  position: relative;
                  display: inline-block;
                }
                strong{
                  padding-left: 12px;
                  font-size: 16px;
                }
              }
              p.tours{
                span{
                  background: $tours;
                }
              }
              p.hotel{
                span{
                  background: $hotel;
                }
              }
              p.park{
                span{
                  background: $park;
                }
              }
              p.taste{
                span{
                  background: $taste;
                }
              }
            }
          }
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
.list-search{
  height: 40px;
  margin-top: 5px;
  .form-control,
  .btn-default{
    height: 40px;
    @include border-radius(0px);
    @include box-shadow(none);
    &:focus,
    &:active,
    &:hover{
      outline: none!important;
      background: #FFF;
      @include box-shadow(none);
    }
  }
  .btn-default.active,
  .open{
    .dropdown-toggle.btn-default{
      outline: none !important;
      background: #FFF;
      @include box-shadow(none);
    }
  }
  .dropdown-menu{
    margin-top: -1px;
    @include border-radius(0px);
  }
}
/*.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default*/