.wrapper{
  overflow: hidden;
  padding-top: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  #container{
    height: 100%;
    padding-bottom: 80px;
    .view{
      width: 45%;
      position: absolute;
      right: 0;
      top: 80px;
      bottom: 0;
      z-index: 8;
      background: #FFF;
      overflow: hidden;
      @include box-shadow(-2px 3px 5px 0px rgba(0, 0, 0, 0.4));
      .view-data{
        overflow-y: auto;
        width: 100%;
        height: 100%;
        .list-container-view{
          .page-search-title{
            width:100%;
            height: 40px;
            background: $default;
            .item-title{
              h1{
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                color: #FFF;
                text-transform: uppercase;
                padding: 0 15px;
                span{
                  font-size: 24px;
                  &:before{
                    position: relative;
                    top: 5px;
                  }
                }
              }
            }
          }
        }
      }
      .view-loading{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.3);
        display: none;
        z-index: 99;
      }
    }
    .map-content{
      width: 55%;
      position: relative;
      left: 0;
      height: 100%;
      background: #DDD;
      overflow: hidden;
      .map-wp{
        width: 100%;
        height: 100%;
      }
      .shoppingcart{
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 8;
        .views-cart{
          position: relative;
          right: auto;
          bottom: auto;
        }
      }
    }
  }
}
.header{
  height: 40px;
  padding-left: 90px;
  background: #FFF;
  .logo{
    width: 80px;
    height: 80px;
    background: $logo;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  #menu-top{
    padding-left: 0;
    li{
      display: inline-block;
      position: relative;
      a{
        height: 40px;
        line-height: 40px;
        margin-right: 30px;
        font-size: 16px;
        color: #000;
      }
      .item-menu-level{
        position: fixed;
        top: 40px;
        left: 0;
        background: $submenu;
        width: 100%;
        z-index: 11;
        display: none;
        @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.4));
        padding-top: 10px;
        .item-level{
          padding-left: 10px;
          h2{
            text-transform: uppercase;
            margin-left: 0px;
            font-size: 14px;
            color: #0074e4;
            font-weight: bold;
            /*border-bottom: 1px solid #f4f9fd;*/
            padding: 10px 0 5px 0;
          }
          
          ul{
            padding: 0 0 5px 0;
            .lst-menu{
                margin-right: -3px;
                margin-left: -3px;
            }
            li{
                /*height: 35px;*/
                position: relative;
                padding-right: 3px;
                padding-left: 3px;
                height: 100%;
              a{
                width: 100%;
                background: #FFF;
                line-height: 30px;
                overflow: hidden;
                margin-bottom: 13px;
                
                padding: 0;
                position: relative;
                display: inline-table;
                border: 1px solid #fff;
                img{
                  @include transition(all 0.4s ease-out);
                }
                span{
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  z-index: 9;
                  background: rgba(0, 0, 0, 0.5);
                  color: #FFF;
                  width: 100%;
                  display: inline-block;
                  padding-left: 5px;
                }
                &:before{
                    display: none;
                  }
                &:hover{
                  border-color: $menu;
                  img{
                    @include transform-scale(1.2);
                  }
                  span{
                    background: rgba(0,0,0,0.4);
                  }
                }
              }
            }
            .item-taste{
              a{
                display: inline-block;
                width: 25%;
                float: left;
                font-size: 14px;
                overflow: hidden;
                color: #000;
                span{
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  @include border-radius(50%);
                  background: #FFF;
                  position: relative;
                  top: 5px;
                  margin-right: 5px;
                  float: left;
                  border: 1px solid transparent;
                }
                &:hover{
                  color: $orange;
                  span{
                    border: 1px solid $orange;
                  }
                }
              }
            }
            li.four{
                
                a{
                    height: 252px;
                }
            }
          }
        }
      }
    }
/*    li{
      &:nth-child(4),
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3){
        &:hover{
          .item-menu-level{
            display: block;
          }
          a{
            &:before{
              content: " ";
              border-bottom: 10px solid $submenu;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -1px;
              left: 30%;
              z-index: 999;
            }
          }
        }
      }
    }*/
  }
  #login{
    li{
      display: inline-block;
      line-height: 40px;
      height: 40px;
      position: relative;
      float: left;
      a{
        color: #000;
        span{
          width: 25px;
          height: 25px;
          display: inline-block;
          @include border-radius(50%);
          background: #000;
          vertical-align: middle;
          overflow: hidden;
          margin-right: 5px;
        }
        var{
          font-size: 18px;
          position: relative;
          top: 5px;
          left: -4px;
        }
      }
      a.views-profile{
        margin-left: 20px;
      }
      ul{
        border: 1px solid rgba(0, 0, 0, .15);
        background-color: #fff;
        @include box-shadow(0 3px 8px rgba(0, 0, 0, .3));
        position: absolute;
        right: 0;
        top: 40px;
        min-height: 100px;
        min-width: 220px;
        @include border-radius(3px);
        left: auto;
        z-index: 10;
        padding: 0;
        margin: 0;
        &:before{
          content: "";
          border-bottom: 7px solid #000;
          top: -7px;
          position: absolute;
          right: 5px;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
        }
        li{
          display: inline-block;
          width: 100%;
          float: none;
          .myprofile{
            display: inline-block;
            width: 100%;
            h2{
              color: #000;
              font-size: 14px;
              padding: 10px 10px 0 10px;
              display: inline-block;
              width: 100%;
              float: left;
            }
            a{
              color: #000;
              padding-left: 15px;
              line-height: 30px;
              display: inline-block;
              float: left;
              height: 30px;
              width: 100%;
              padding-left: 25px;
              &:hover{
                background: $default;
                color: #FFF;
              }
              
            }
          }
          .manager{
            display: inline-block;
            width: 100%;
            border-top: 1px solid #DDD;
            a{
              line-height: 30px;
              color: #000;
              display: inline-block;
              width: 100%;
              padding-left: 30px;
              height: 30px;
              float: left;
              &:hover{
                background: $default;
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
}
.search{
  height: 40px;
  background: #e2eef9;
  .page-search{
    width: 100%;
    float: left;
    height: 40px;
    position: relative;
    .search-item{
      height: 40px;
      width: 100%;
      position: absolute;
      z-index: 9;
      @include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.4));
      .search-list{
        padding-left: 90px;
        height: 40px;
        width: 100%;
      }
    }
  }
  .list-search{
    .item-search-type{
      border: 1px solid #ccc;
      ul.level{
        li{
          background: #FFF;
          position: relative;
          height: 38px;
          line-height: 38px;
          padding-left: 10px;
          a{
            height: 38px;
            line-height: 38px;
            display: inline-block;
            width: 100%;
            cursor: pointer;
            color: #000;
            &:after{
              content: " ";
              width: 0;
              height: 0;
              display: inline-block;
              border-top: 5px solid #696969;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              margin-left: 5px;
              right: 10px;
              position: absolute;
              top: 50%;
            }
          }
          ul.search-type{
            position: absolute;
            top: 39px;
            width: 100%;
            display: none;
            left: 0;
            z-index: 9;
            /*width: 200px;*/
            background: #FFF;
            @include box-shadow(0 1px 4px 0 rgba(0,0,0,.5));
            li{
              border: none;
              .for-type{
                width: 0;
                height: 0;
                border: 0;
                position: absolute;
                left: -9999999px;
              }
              label.fs-home{
                position: relative;
                display: block;
                line-height: none;
                cursor: pointer;
                &:before{
                  content: " ";
                  height: 15px;
                  width: 15px;
                  border: 1px solid #ccc;
                  background-color: #fff;
                  display: inline-block;
                  position: relative;
                  top: 2px;
                  margin-right: 5px;
                }
              }
              input[type=checkbox]:checked+.fs-home>label:after, 
              input[type=checkbox]:checked+label:after {
                font-family: "tours" !important;
                content: "\71";
                font-style: normal!important;
                font-weight: 400!important;
                font-variant: normal!important;
                text-transform: none!important;
                speak: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: inline-block;
                text-align: center;
                line-height: 15px;
                font-size: 12px;
                position: absolute;
                top: 12px;
                left: 0;
                height: 15px;
                width: 15px;
              }
              .root-radius{
                &:before{
                    content: " ";
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  display: inline-block;
                }
              }
            }
            li.tours{
              .root-radius{
                &:before{
                  background: $tours;
                }
              }
            }
            li.park{
              .root-radius{
                &:before{
                  background: $park;
                }
              }
            }
            li.hotel{
              .root-radius{
                &:before{
                  background: $hotel;
                }
              }
            }
            li.taste{
              .root-radius{
                &:before{
                  background: $taste;
                }
              }
            }

          }
          
        }
        li.selected{
          ul.search-type{
            display: block;
          }
            a{
            &:after{
              -webkit-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
    
  }
}
.province-container{
  padding: 10px;
  ul.list-travel{
    li{
      border-bottom: 1px solid #DDD;
      display: block;
      width: 100%;
      padding: 10px 0;
      float: left;
      .province-item{
        .province-img{
          width: 40%;
          float: left;
        }
        .province-content{
          width: 60%;
          float: left;
          padding-left: 10px;
          h2{
            font-size: 14px;
            font-weight: bold;
          }
          .list-count-content{
            width: 100%;
            .list-count-item{
              width: 50%;
              float: left;
              padding: 5px 0;
              p{
                span{
                  width: 10px;
                  height: 10px;
                  @include border-radius(50%);
                  position: relative;
                  display: inline-block;
                }
                strong{
                  padding-left: 12px;
                  font-size: 16px;
                }
              }
              p.tours{
                span{
                  background: $tours;
                }
              }
              p.hotel{
                span{
                  background: $hotel;
                }
              }
              p.park{
                span{
                  background: $park;
                }
              }
              p.taste{
                span{
                  background: $taste;
                }
              }
            }
          }
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
.list-search{
  height: 40px;
  margin-top: 5px;
  .col-md-2{
      width: 14.2857142857%;
    }
  .form-control,
  .btn-default{
    height: 30px;
    @include border-radius(0px);
    @include box-shadow(none);
    &:focus,
    &:active,
    &:hover{
      outline: none!important;
      background: #FFF;
      @include box-shadow(none);
    }
  }
  .btn-default.active,
  .open{
    .dropdown-toggle.btn-default{
      outline: none !important;
      background: #FFF;
      @include box-shadow(none);
    }
  }
  .dropdown-menu{
    margin-top: -1px;
    @include border-radius(0px);
  }
}
.province{
  position: relative;
  .province-help{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    ul{
      li{
        display: inline-block;
        width: 50%;
        float: left;
        border: none;
        color: #FFF;
        padding: 3px 10px;
        span{
          width: 10px;
          height: 10px;
          @include border-radius(50%);
          position: relative;
          display: inline-block;
        }
      }
      li.tours{
        span{
          background: $tours;
        }
      }
      li.hotel{
        span{
          background: $hotel;
        }
      }
      li.park{
        span{
          background: $park;
        }
      }
      li.taste{
        span{
          background: $taste;
        }
      }
    }
  }
}
.current-position{
  border: 1px solid #DDD;
  margin-top: 15px;
  border-bottom: 2px solid $default;
  padding: 10px;
  .col-md-9{
    padding-right: 0;
    width: 82%;
  }
  .col-md-3{
    padding-left: 0;
    width: 18%;
  }
  input{
    @include border-radius(0px);
    height: 32px;
  }
  .btn-filter-advance{
    padding: 6px 15px;
    background: #fa501e;
    display: inline-block;
    width: 100%;
    border: 1px solid #fa501e;
    cursor: pointer;
    color: #FFF;
  }
  .filter-advance{
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    display: none;
    ul{
      li{
        display:inline-block;
        border: none;
        padding: 0;
        width: auto;
        a{
          display: inline-block;
          padding: 3px 15px;
          border: 1px solid #DDD;
          @include border-radius(3px);
          margin: 5px 5px 5px 0;
        }
      }
    }
  }
}
.list-province-item{
  ul.nav{
    border-bottom: 2px solid #bd0808;
    li{
      display: inline-block;
      width: auto;
      padding: 0;
      border: none;
      padding: 10px 15px 5px 0;
      a{
        border: none;
        background: transparent;
        @include border-radius(0px);
        margin-right: 0px;
        padding: 0;
        display: inline-block;
        &:focus,
        &:visited,
        &:active,
        &:hover{
          border: none;
          background: transparent;
          @include border-radius(0px);
        }
      }
    }
    li.active{
      a{
        border: none;
        background: transparent;
        @include border-radius(0px);
        &:focus,
        &:visited,
        &:active,
        &:hover{
          border: none;
          background: transparent;
          @include border-radius(0px);
        }
      }
      &:before{
        content: " ";
        border-bottom: 5px solid #bd0808;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        bottom: 0;
        left: 30%;
      }
    }
  }
}
.button-search{
  width: 95px;
  height: 30px;
  background: #fa501e;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  @include box-shadow(none);
  @include border-radius(0px);
  outline: none;
  border: none;
  position: relative;
  overflow: hidden;
}
.button-search.on{
  overflow: visible;
  &:before{
    content: "";
    border-bottom: 5px solid $default;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    bottom: -5px;
    left: 40px;
  }
}