.list-item{
  .item{
    .item-content{
      .view-user{
        margin-top: 10px;
      }
    }
  }
}
.popup-page {
  .popup-container.tour {
    .popup-body {
      .description {
        .item.taste-description{
          p{
            line-height: 24px;
            strong{
              font-size: 18px;
              color: red;
            }
            strong.time-open{
              color: #05CD15;
              font-size: 14px;
            }
            strong.time-close{
              color: #05CD15;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.commitment {
  .commitment-view {
    .content{
      h2.map-title{
        margin-bottom: 10px;
      }
      height: 440px;
    }
  }
}
#map-current{
  height: 400px;
  border: 1px solid #DDD;
}
.gallery{
  ul{
    li{
      width: 16.6666666667%;
      float: left;
      padding: 5px;
      img{
        width: 150px;
        @include border-radius(3px);
        cursor: pointer;
      }
    }
  }
}
.menu-order{
  h2{
    border-bottom: 2px solid #DDD;
    padding-bottom: 5px;
    margin: 15px 0;
  }
  ul{
    li{
      .item{
        position: relative;
        padding-left: 45px;
        height: 45px;
        img{
            width: 40px;
            height: 40px;
            @include border-radius(50%);
            position: absolute;
            left: 0;
            cursor: pointer;
          }
        p{
          border-bottom: 1px dotted #DDD;
          var,
          span{
            position: relative;
            background: #FFF;
            top: 9px;
          }
        }
      }
      
    }
  }
}
.taste-detail{
  .royalSlider{
    height: 460px;
  }
}