.list-item{
  .item{
    .item-content{
      .view-user{
        margin-top: 10px;
      }
    }
  }
}

.popup-page {
  .popup-container.tour {
    .popup-body {
      .description {
        .item.taste-description{
          p{
            line-height: 24px;
            strong{
              font-size: 18px;
              color: red;
            }
            strong.time-open{
              color: #05CD15;
              font-size: 14px;
            }
            strong.time-close{
              color: #05CD15;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.commitment {
  .commitment-view {
    .content{
      h2.map-title{
        margin-bottom: 10px;
      }
      height: 440px;
    }
  }
}
#map-current{
  height: 400px;
  border: 1px solid #DDD;
}
.gallery{
  ul{
    li{
      width: 16.6666666667%;
      float: left;
      padding: 5px;
      img{
        width: 150px;
        @include border-radius(3px);
        cursor: pointer;
      }
    }
  }
}

.taste-detail{
  .royalSlider{
    height: 460px;
  }
}
.rating{
  .rating-item{
    span{
      display: inline-block;
      float: left;
      height: 22px;
      line-height: 22px;
    }
    .space{
      width: 20%;
    }
    .line{
      width: 70%;
      line-height: 22px;
      var{
        height: 3px;
        background: #eee;
        display: inline-block;
        width: 100%;
        position: relative;
        i{
          height: 3px;
          width: 50%;
          background: #ff5a00;
          display: inline-block;
          position: absolute;
          top: 0;
        }
      }
    }
    .rate-number{
      width: 10%;
      text-align: right;
      font-weight: bold;
      color: #05CD15;
    }
  }
}