.box{
  .box-header{
    border-bottom: 1px solid #DDD;
    ul{
      border-top: 1px solid #DDD;
      border-left: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
      li{
        display: inline-block;
        float: left;
        a{
          border-right: 1px solid #DDD;
          padding: 5px 10px;
          display: inline-block;
        }
      }
    }
  }
  .box-body{
    input[type="radio"], 
    .radio input[type="radio"], 
    .radio-inline input[type="radio"], 
    input[type="checkbox"], 
    .checkbox input[type="checkbox"], 
    .checkbox-inline input[type="checkbox"] {
        position: relative;
        width: 13px;
        width: 16px \0;
        height: 13px;
        height: 16px \0;
        -webkit-appearance: none;
        background: white;
        border: 1px solid #dcdcdc;
        border: 1px solid transparent \0;
        border-radius: 1px;
        outline: none;
    }

    input[type="checkbox"]:checked::after,
    input[type="radio"]:checked::after,
    .radio input[type="radio"]:checked::after,
    .radio-inline input[type="radio"]:checked::after,
    .checkbox input[type="checkbox"]:checked::after,
    .checkbox-inline input[type="checkbox"]:checked::after {
        position: absolute;
        top: -6px;
        left: -5px;
        display: block;
        content: url(../../assets/images/checkmark.png);
        outline: none;
    }
    .add-muilti-gallery{
      display: inline-block;
      width: 100%;
    }
    table{
      .btn-info{
        position: relative;
        .info-help{
          position: absolute;
          top: -100%;
          left: -48%;
          background: rgba(0,0,0,0.5);
          @include border-radius(3px);
          padding: 2px 5px;
          font-size: 12px;
          display: none;
          &:before{
            content: " ";
            border-top: 5px solid rgba(0,0,0,0.5);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            bottom: -5px;
            position: absolute;
            left: 50%;
            margin-left: -2px;
          }
        }
        &:hover{
          .info-help{
            display: block;
          }
        }
      }
      .list-entertaiment-gallery{
        a{
          sdisplay: inline-block;
          width: 100px;
          height: 100px;
          text-align: center;
          padding: 5px;
          @include border-radius(3px);
          border: 1px solid #DDD;
          position: relative;
          float: left;
          margin-right: 5px;
          .delete-image{
            position: absolute;
            top: 0;
            right: 0;
            background: #dd4b39;
            padding: 2px 5px;
            color: #FFF;
            @include border-top-right-radius(3px);
            display: none;
          }
          img{
            display: inline-block;
          }
          &:hover{
            border-color: #dd4b39;
            .delete-image{
              display: block;
            }
          }
        }
      }
      th.status{
        width: 105px;
      }
      th.function{
        width: 100px;
      }
      .status{
        .fa-check{
          color: #00cc24;
        }
        .fa-minus-circle{
          color: #bb1515;
        }
      }
      .function{
        a{
          display: inline-block;
        }
        a.add-gallery-js{
          padding: 6px 12px;
        }
        a.func{
          padding-right: 5px;
          vertical-align: top;
        }
      }
      .check-all{
        width: 20px;
      }
      .menu-order{
        width: 80px;
        input{
          width: 70px;
          border: 1px solid #DDD;
        }
      }
      td{
        .gallery-thumbnail{
          width: 100px;
          height: 100px;
          padding: 5px;
          text-align: center;
          display: inline-block;
          background: #FFF;
          border: 1px solid #DDD;
          @include border-radius(3px);
          img{
            display: inline-block;
            max-width: 100%;
          }
        }
      }
      th{
        a{
          &:after{
            content: "\f0dc";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding-left: 5px;
          }
        }
        a.asc{
          &:after{
            content: "\f0de";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding-left: 5px;
          }
        }
        a.desc{
          &:after{
            content: "\f0dd";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            padding-left: 5px;
          }
        }
      }
    }
    fieldset{
      border: 1px solid #3c8dbc;
      @include border-radius(3px);
      padding: 15px;
      margin-bottom: 15px;
      legend{
        display: inline-block;
        width: auto;
        border: none;
        margin-bottom: 0;
      }
    }
    .body-entertaiment{
      margin-top: 15px;
    }
  }
}
.box-search{
  padding-bottom: 15px;
}
#service-price{
  ul{
    li{
      display: inline-block;
      float: left;
      .item-service{
        width: 200px;
        height: 100px;
        border: 1px solid #DDD;
        @include border-radius(3px);
        padding: 5px;
        margin: 0 15px 15px 0;
      }
      .item-service.active{
        border-color: #dd4b39;
      }
      &:hover{
        .item-service{
          border-color: #dd4b39;
        }
      }
    }
  }
}
.post-list-tour{
  h2{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #DDD;
    height: auto;
    line-height: normal;
    margin-bottom: 15px;
    background: none;
    padding-left: 0;
    padding-bottom: 5px;
  }
  .post-search{
    margin-bottom: 15px;
    .btn-search{
      height: 34px;
      background: $tours;
      line-height: 34px;
      text-align: center;
      display: inline-block;
      width: 100%;
      color: #FFF;
      @include border-radius(3px);
    }
  }
  ul{
    li{
      margin-bottom: 15px;
      .item{
        border: 1px solid #DDD;
        .img{
          position: relative;
          .item-checked{
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 9;
            input{
              margin: 0;
            }
          }
        }
      }
      .album-title{
        height: 40px;
        line-height: 20px;
        overflow: hidden;
        padding: 0 5px;
      }
      &:hover{
        .item{
          border-color: red;
        }
      }
    }
  }
}