#search{
  margin-top: -171px;
  .search-home{
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 9999;
    .list-tab{
      float: left;
      height:50px;
      background: #ed8e31;
      ul{
        border: none;
        li{
          margin-bottom: 0;
          width: auto;
          a{
            border: none;
            @include border-radius(0px);
            width: 100%;
            text-transform: uppercase;
            color: #FFF;
            height: 50px;
            line-height: 50px;
            padding: 0 15px 0 5px;
            &:hover, &:active, &:visited,&:focus{
              background: rgba(18,17,17,0.7);
            }
            span.round{
              width: 40px;
              height: 40px;
              display: inline-block;
              background: rgba(0, 0, 0, 0.46);
              @include border-radius(50%);
              margin-top: 5px;
              float: left;
              margin-right: 5px;
              text-align: center;
              font-size: 22px;
            }
          }
        }
        li.active{
          a{
            background: #fa501e;
          }
        }
      }
    }
    .panel-tab{
      width: 100%;
      float: left;
      padding: 15px;
      background: $search-background;
      .tab-content{
        background: #FFF;
        padding: 10px;
      }
      #hotel{
        .form{
          position: relative;
          span{
            height: 34px;
            width: 34px;
            background: #DDD;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0px;
            text-align: center;
            line-height: 34px;
          }
          .form-control{
            padding-right: 40px;
          }
        }
      }
      h2{
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .form-control{
        @include border-radius(0px);
        border: 1px solid #DDD;
        margin-bottom: 15px;
        @include box-shadow(none);
      }
      #search-list{
        width: 100%;
        height: 34px;
        background: #fa501e;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
        @include box-shadow(none);
        @include border-radius(0px);
        outline: none;
        border: none;
      }
    }
  }
}
.tour-home-content{
  .nav-tabs{
    border-bottom: 2px solid #ff9100;
    background: #f5f5f5;;
    li,
    li.active{
      margin-bottom: 0;
      a{
        @include border-radius(0px);
        border: none;
        text-transform: uppercase;
        margin-right: 0;
        padding: 0px 15px;
        height: 34px;
        line-height: 34px;
        &:focus,
        &:hover{
          border: none;
        }
      }
    }
    li.active{
      a{
        background: #f5f5f5;
        &:before{
          content: " ";
          border-bottom: 5px solid #ff9100;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          position: absolute;
          bottom: 0;
          left: 47%;
        }
      }
    }
    li.tab-home{
      a{
        background: #ff9100;
        color: #FFF;
        span{
          font-size: 18px;
          &:before{
            position: relative;
            top: 2px;
          }
        }
      }
    }
  }
}
.view-all{
  text-align: center;
  margin: 10px 0;
  a{
    background: #ff9100;
    @include border-radius(3px);
    padding: 7px 30px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
  }
}
.tour-home-content.taste{
  margin-top: 15px;
  .nav-tabs {
    border-bottom: 2px solid $taste;
    li.tab-home {
      a{
        background: $taste;
      }
    }
    li.active{
      a{
        &:before{
          border-bottom: 5px solid $taste;
        }
      }
    }
  }
}

.tour-home-content.hotel{
  margin-top: 15px;
  .nav-tabs {
    border-bottom: 2px solid $hotel;
    li.tab-home {
      a{
        background: $hotel;
      }
    }
    li.active{
      a{
        &:before{
          border-bottom: 5px solid $hotel;
        }
      }
    }
  }
}
.home-news{
  margin-top: 15px;
  ul{
    li{
      .item-news{
        .img{
          position: relative;
          .position-news{
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0.7);
            width: 100%;
            padding: 2px 5px;
            color: #FFF;
            var{
              color: #ff01a8;
            }
          }
        }
      }
      .content-item-news{
        height: 20px;
        line-height: 20px;
        margin-top: 5px;
        h2{
          font-size: 14px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .rating{
      color: red;
    }
  }
  h3{
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    border-bottom: 2px solid #DDD;
    margin-bottom: 10px;
    font-size: 16px;
    a{
      display: inline-block;
      position: relative;
      bottom: -1px;
      height: 24px;
      line-height: 24px;
      border-bottom: 4px solid #cc050a;
    }
  }
}
.top-destination{
  background: #f3f3f3;
  padding: 15px 0;
  margin: 15px 0;
  h2{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
  }
  ul{
    li{
      .item{
        background: #FFF;
        margin-bottom: 15px;
        border: 1px solid #DDD;
        .img{
          position: relative;
          overflow: hidden;
        }
        .title{
          font-size: 16px;
          font-weight: bold;
          padding: 15px 5px;
        }
        img{
          -webkit-transition: all 0.3s ease;
          -moz-transition:    all 0.3s ease;
          -o-transition:      all 0.3s ease;
          -ms-transition:     all 0.3s ease;
          transition:         all 0.3s ease;
        }
      }
      &:hover img{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}