.like{
  position: absolute;
  top: 0;
  right: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;
  span{
    font-size: 16px;
    color: #ff01a8;
    &:before{
      position: relative;
      top: 3px;
    }
  }
  &:hover{
    color: #FFF;
  }
}
.position-name{
  position: absolute;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFF;
  background: rgba(0,0,0,0.5);
  width: 100%;
  a{
    color: #FFF;
  }
}
.list-item{
  .item{
    margin: 10px 0;
    border: 1px solid $color-border;
    background: #FFF;
    .item-content{
      padding: 5px;
      .title{
        border-bottom: 1px solid $color-border;
        padding-bottom: 5px;
        a{
          font-weight: bold;
          height: 40px;
          line-height: 20px;
          overflow: hidden;
          display: inline-block;
          width: 100%;
        }
      }
      .address{
        height: 40px;
        line-height: 20px;
        overflow: hidden;
      }
      .price{
        padding: 10px 0;
        .cost{
          color: #ed1c24;
          font-size: 20px;
          font-weight: 700;
          white-space: nowrap;
          var{
            position: relative;
            font-size: 14px;
            top: -10px;
          }
        }
        
        .sale{
          background: red;
          @include border-radius(3px);
          color: #FFF;
          padding: 2px 5px;
          position: relative;
          height: 20px;
          margin-left: 10px;
          &:before{
            content: " ";
            border-right: 7px solid red;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            position: absolute;
            left: -7px;
            top: 6px;
          }
        }
      }
      .view-user{
        display: inline-block;
        width: 100%;
        .sale{
          background: red;
          @include border-radius(3px);
          color: #FFF;
          padding: 2px 5px;
          position: relative;
          height: 20px;
        }
        .price-sale{
          text-decoration: line-through;
          color: #9a9a9a;
        }
        var{
          position: relative;
          font-size: 14px;
          top: -5px;
          text-decoration: none;
          color: #9a9a9a;
        }
        span.icon{
          color: $view-user;
          &:before{
            position: relative;
            top: 2px;
          }
        }
      }
    }
    .img{
      position: relative;
      .highlight{
        position: absolute;
        top: 0;
        right: 0;
        &:before{
          content: " ";
          position: absolute;
          top: 0px;
          right: 0px;
          border-right: 50px solid #ff0000;
          border-bottom: 50px solid transparent;
        }
        span{
          color: white;
          z-index: 9;
          position: relative;
          transform: rotate(45deg);
          display: block;
          top: 9px;
          right: 1px;
          text-transform: uppercase;
        }
      }
      .item-hover{
        position: absolute;
        display: none;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.8);
        .item-voucher{
          width: 50%;
          float: left;
          color: #FFF;
          padding: 5px;
          font-style: italic;
        }
        .readmove{
          width: 50%;
          float: left;
          height: 50px;
          line-height: 50px;
          text-align: right;
          padding-right: 10px;
          a{
            @include border-radius(3px);
            color: #FFF;
            text-transform: uppercase;
            background: $background-default;
            padding: 7px 10px;
          }
        }
      }
    }
    &:hover{
        border-color: $tours;
      .img{
        .item-hover{
          display: block;
        }
      }
    }
  }
}
.list-province-item{
  ul.list-travel{
    /*margin-top: 10px;*/
    li{
      display: inline-block;
      width: 100%;
          padding: 8px 0;
      .item{
        width: 100%;
        display: inline-block;
        h2{
          font-size: 14px;
          font-weight: bold;
        }
        p.hour-open{
          border-top: 1px solid #DDD;
          margin-top: 3px;
          padding-top: 5px;
          span{
            color: red;
          }
        }
        .fs-game{
          display: inline-block;
          width: 100%;
          position: relative; 
          float: left;
          .list-game{
            margin-top: 5px;
            margin-bottom: 5px;
            display: inline-block;
            width: 60%;
            float: left;
            li{
              padding: 0;
              border-bottom: none;
              margin: 2px 0;
              span{
                font-size: 12px;
              }
              span.game{
                color: $game;
              }
              span.restaurant{
                color: $restaurant;
              }
              span.tours{
                color: $tours;
              }
            }
          }
          .views{
            display: inline-block;
            position: absolute;
            top: 30px;
            background: $default;
            @include border-radius(3px);
            padding: 5px 10px;
            color: #FFF;
            cursor: pointer;
            text-align: center;
            float: right;
            right: 0;
          }
        }

        p.strict-views{
          font-style: italic;
          cursor: pointer;
          margin-top: 10px;
        }
        .item-img{
          position: relative;
          .overlay_border{
            position:absolute;
            width:100%;
            height:100%;
            z-index:1;
            -o-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            top: 0px;
            right: 5px;
            bottom: 5px;
            left: 0px;
            &:after,
            &:before{
              content: '';
              display: block;
              position: absolute;
              z-index:10;
              top: 10px;
              left: 10px;
              bottom: 10px;
              right: 10px;
              -o-transition: all 0.3s ease-in-out 0s;
              -moz-transition: all 0.3s ease-in-out 0s;
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }
            &:before{
              border-top: 1px solid #fff;
              border-bottom: 1px solid #fff;
              -webkit-transform: scale(0, 1);
              -ms-transform: scale(0, 1);
              transform: scale(0, 1);
            }
            &:after{
              border-left: 1px solid #fff;
              border-right: 1px solid #fff;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              transform: scale(1, 0);
            }
          }
          &:hover{
            .overlay_border{
              background: rgba(0,0,0, 0.3);
              opacity: 0.5;
              -o-transition: all 0.3s ease-in-out 0s;
              -moz-transition: all 0.3s ease-in-out 0s;
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
              &:before,
              &:after{
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

  @-moz-keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  @-webkit-keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  @-o-keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  @keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  
  .loading{
    width: 50px;
    height: 50px;
    display: block;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #FFF;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-animation: spin 600ms infinite linear;
    -moz-animation: spin 600ms infinite linear;
    -o-animation: spin 600ms infinite linear;
    -ms-animation: spin 600ms infinite linear;
     animation: spin 600ms infinite linear; 
  }
.views-popup.view{
  display: block;
}
#modal-comment{
  .modal-content{
    background: #f7f7f7;
    @include box-shadow(none);
    border: none;
    .modal-header{
      padding: 0 15px 0 0;
      background: $default;
      border: none;
      overflow: hidden;
      @include border-top-left-radius(5px);
      @include border-top-right-radius(5px);
      .modal-title{
        text-transform: uppercase;
      }
      .close{
        margin-top: 7px;
        color: #fff;
        opacity: 1;
      }
      ul{
        border: none;
        li{
          margin-bottom: 0;
          a{
            color: #FFF;
            border: none;
            @include border-radius(0);
            text-transform: uppercase;
            &:hover,
            &:active,
            &:focus,
            &:visited{
              background: #37485d;
              color: #fff;
            }
          }
        }
        li.active{
          a{
            background: #f7f7f7;
            color: #000;
            @include border-top-left-radius(3px);
            @include border-top-right-radius(3px);
          }
        }
      }
    }
    .modal-body{
      textarea.form-control{
        height: 200px;
      }
      .preview{
        ul{
          display: inline-block;
          float: left;
          li{
            display: inline-block;
            margin-right: 5px;
            position: relative;
            float: left;
            margin-bottom: 10px;
            img{
              width: 80px;
              height: 80px;
            }
          }
        }
        a{
          width: 80px;
          height: 80px;
          display: inline-block;
          border: 2px dashed #DDD;
          float: left;
          margin-bottom: 10px;
          span.icon{
            font-size: 20px;
            padding-top: 20px;
          }
          span{
            display: inline-block;
            width: 100%;
            text-align: center;
          }
        }
      }
      .rating{
        h2{
          text-transform: uppercase;
          border-bottom: 2px solid #DDD;
          padding-bottom: 5px;
          font-size: 16px;
        }
      }
      .write-rating{
        position: relative;
        min-height: 384px;
        overflow: hidden;
        background: #FFF;
        padding: 10px;
        border: 1px solid #DDD;
        @include border-radius(3px);
        .rating-box{
          .item-box{
            margin-bottom: 15px;
            border-bottom: 1px solid #ddd;
            ul{
              li{
                margin-bottom: 14px;
              }
            }
          }
        }
        .options-box{
          li{
            select{
              width: 100%;
              padding: 5px;
              box-sizing: border-box;
              border: 1px solid #efefef;
              outline: 0;
            }
          }
        }
      }
      .file-video{
        position: relative;
        min-height: 384px;
        overflow: hidden;
        background: #FFF;
        padding: 10px;
        border: 1px solid #DDD;
        @include border-radius(3px);
        #write-video{
          z-index: -1;
          position: relative;
          visibility: hidden;
          position: absolute;
        }
        label{
          width: 100%;
          height: 100%;
          background: #f5f5f5;
          height: 357px;
          padding-top: 120px;
          cursor: pointer;
          @include border-radius(3px);
          span{
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 18px;
            var{
              display: block;
              font-size: 50px;
              height: 50px;
              color: #FFF;
            }
          }
          span.size{
            font-size: 12px;
            color: #717070;
            font-style: italic;
          }
        }
      }
      .write-share{
        display: block;
        width: 100%;
        float: left;
        padding: 15px;
        ul{
          li{
            margin-bottom: 15px;
            label{
              display: block;
              float: left;
              padding: 5px 0 0;
              cursor: pointer;
            }
            .switch{
              display: block;
              position: relative;
              width: 44px;
              height: 24px;
              float: right;
              input{
                visibility: hidden;
                position: absolute;
              }
              input.cmn-toggle-round+label{
                display: block;
                background: #ddd;
                width: 100%;
                height: 24px;
                padding: 2px;
                box-sizing: border-box;
                @include border-radius(60px);
              }
              input.cmn-toggle-round+label:after, 
              input.cmn-toggle-round+label:before{
                display: block;
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                content: "";
              }
              input.cmn-toggle-round+label:before {
                right: 1px;
                background-color: #f1f1f1;
                border-radius: 60px;
                transition: background .4s;
              }
              input.cmn-toggle-round+label:after{
                width: 22px;
                background-color: #fff;
                border-radius: 100%;
                box-shadow: 0 2px 5px rgba(0,0,0,.3);
                transition: margin .4s;
              }
              input.cmn-toggle-round:checked+label:after{
                margin-left: 20px;
              }
              input.cmn-toggle-round:checked+label:before{
                background-color: #0090f2;
              }
            }
          }
        }
      }
    }
    .modal-footer{
      .btn.btn-default{
        background: #ccc;
        border: none;
        @include box-shadow(none);
        outline: none;
      }
      .btn.btn-primary{
        background: $default;
        border: none;
        @include box-shadow(none);
        outline: none;
        font-weight: bold;
        &:hover{
          background: #0589ce;
        }
      }
    }
  }

  
}
.comment{
  display: inline-block;
  width: 100%;
  h2{
    text-transform: uppercase;
    border-bottom: 1px solid $color-border;
    padding-bottom: 5px;
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    span{
      position: relative;
      top: 10px;
    }
    a.buttom-comment{
      padding: 5px 5px;
      display: inline-block;
      background: $comment;
      color:#FFF;
      font-weight: normal;
      @include border-radius(2px);
      cursor: pointer;
    }
  }
  .list-comment{
    li{
      padding: 15px;
      border: 1px solid $color-border;
      margin-bottom: 15px;
      background: #FFF;
      .comment-item{
        display: inline-block;
        width: 100%;
        .avartar{
          width: 48px;
          height: 48px;
          float: left;
          margin-right: 15px;
          img{
            width: 48px;
            height: 48px;
            @include border-radius(5px);
          }
        }
        .comment-content{
          overflow: hidden;
          p{
            margin-top: 0 !important;
            padding-top: 0;
          }
          .comment-info{
            padding-bottom: 15px;
            .user-comment-info{
              p{
                padding-top: 0;
                line-height: 20px;
                span{
                  font-size: 13px;
                }
              }
            }
            .review-options{
              display: inline-block;
              width: 100%;
              ul{
                li{
                  display: inline-block;
                  padding: 0;
                  border: none;
                  color: $default;
                  &:after{
                    content: "|";
                    margin: 0 5px;
                    color: #000;
                  }
                  &:last-child{
                    &:after{
                      content: "";
                    }
                  }
                }
              }
            }
            .list-gallery{
              margin-top: 15px;
              display: inline-block;
              width: 100%;
              a{
                width: 135px;
                display: inline-block;
                margin-bottom: 1px;
                margin-right: 1px;
                float: left;
                img{
                  max-width: 135px;
                  display: inline-block;
                }
              }
            }
          }
          
          .form-replies{
            display: inline-block;
            width: 100%;
            .view-replies{
              float: left;
              display: inline-block;
              width: 100%;
              div{
                padding: 1px 5px;
                background: #FFF;
                display: inline-block;
                margin-right: 5px;
                font-size: 12px;
                cursor: pointer;
                float: left;
                position: relative;
                .share-page{
                  position: absolute;
                  top: 20px;
                  left: 0;
                  padding: 0;
                  margin: 0;
                  display: none;
                  &:before{
                    content: "";
                    border-bottom: 7px solid #DDD;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    position: absolute;
                    top: -7px;
                    left: 10px;
                  }
                  ul{
                    padding: 5px;
                    border: 1px solid #DDD;
                    width: 150px;
                    li{
                      padding: 0;
                      border: none;
                      margin: 0;
                      height: 24px;
                      line-height: 24px;
                      &:hover{
                        color: $header;
                      }
                    }
                  }
                }
              }
            }

            .fs-share{
              &:hover{
                .share-page{
                  display: block;
                }
              }
            }
            .comment-form-replies{
              margin-top: 10px;
              display: block;
              width: 100%;
              padding: 0;
              float: left;
              .icon{
                width: 6%;
                float: left;
                img{
                  width: 30px;
                  height: 30px;
                }
              }
              .replies{
                width: 94%;
                float: left;
                textarea{
                  overflow: hidden;
                  word-wrap: break-word; 
                  resize: vertical; 
                  height: 40px;
                  outline: none;
                  @include border-radius(0px);
                  @include box-shadow(none);
                }
              }
            }
          }
          .comment-replies{
            border-top: 1px solid $color-border;
            padding-top: 10px;
            display: inline-block;
            width: 100%;
            .avartar{
              width: 6%;
              float: left;
              margin-right: 0;
              img{
                width: 30px;
                height: 30px;
              }
            }
            .comment-content{
              width: 94%;
              float: left;
            }
          }
        }
      }
    }
  }
  .views-all{
    text-align: center;
    a{
      padding: 5px 15px;
      background: #f8f8f8;
      border: 1px solid $color-border;
      @include border-radius(3px);
      display: inline-block;
      cursor: pointer;
    }
  }
}
.menu-order{
  display: inline-block;
  width: 100%;
  background: #FFF;
  border: 1px solid #DDD;
  margin-top: 15px;
  h2{
    padding-bottom: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    border-bottom: 2px solid #DDD;
  }
  .menu-content{
    padding:0 15px 15px 15px;
    ul{
      li{
        .item{
          position: relative;
          min-height: 45px;
          padding: 5px 0;
          border-bottom: 1px dotted #DDD;
          img{
              width: 40px;
              height: 40px;
              @include border-radius(5px);
              cursor: pointer;
            }
          p{
            font-weight: bold;
            height: 45px;
            line-height: 45px;
            padding: 0;
            a.add{
              font-size: 24px;
              color: #ff5722;
            }
          }
          
        }
        &:last-child{
          .item{
            border-bottom: none;
          }
        }
      }
    }
  }
}

.utilities{
  border: 1px solid #DDD;
  display: inline-block;
  width: 100%;
  background: #FFF;
  margin-top: 45px;
  padding: 15px;
  h2{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  ul{
    li{
      width: 12.5%;
      display: inline-block;
      float: left;
      padding: 0 5px;
      .item{
        text-align: center;
        height: 80px;
        overflow: hidden;
        span{
          font-size: 24px;
        }
      }
      margin-bottom: 15px;
    }
  }
}
.content-page-popup{
  margin-top: 15px;
  .about{
    .content{
      background: #FFF;
      padding: 0 10px 10px 10px;
    }
    ul.tab-travel{
      border-bottom: 2px solid #0388cd;
      visibility: visible;
      li{
        display: inline-block;
        bottom: -2px;
        position: relative;
        h2{
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          display: inline-block;
          height: 30px;
          line-height: 30px;
          padding: 0 15px;
          cursor: pointer;
        }
      }
      li.active{
        border-bottom: 2px solid red;
        background: #e2eef9;
      }
    }
    ul.tab-travel.fixed{
      position: fixed;
      top: 0;
      margin-top: 40px;
      @include transition(margin-top 0.3s ease-in-out 0s);
      background: #FFF;
      z-index: 999;
    }
    p{
      line-height: 22px;
      padding-top: 15px;
      text-align: justify;
    }
  }
}
.detail-hostory{
  h2.history{
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 2px solid #3871b8;
    margin-bottom: 15px;
    span{
      display: inline-block;
      height: 30px;
      line-height: 30px;
      position: relative;
      top: 2px;
      border-bottom: 2px solid #bb1010;
    }
  }
  p{
    text-align: justify;
    line-height: 22px;
    margin-top: 15px;
  }
  ul{
    li{
      display: inline-block;
      width: 100%;
      line-height: 22px;
      list-style-type: initial;
      margin-left: 30px;
      p{
        line-height: 22px;
      }
    }
  }
}

/*block view cart */
.views-cart{
  position: fixed;
  right: 0;
  bottom: 20%;
  width: 40px;
  background: $default;
  z-index: 13;
  .views-cart-item {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFF;
    border-bottom: 1px solid $logo;
    var.icon{
      font-size: 18px;
    }
    a{
      height: 40px;
      width: 40px;
      z-index: 999;
      display: inline-block;
      color: #FFF;
    }
    span.img{
      position: absolute;
      height: 39px;
      width: 40px;
      z-index: 99;
      top: 0;
      left: 0;
      background: $default;
    }
    span.des{
      position: absolute;
      height: 39px;
      top: 0;
      right: -400px;
      background: $orange;
      color: #FFF;
      padding: 0 10px;
      -webkit-transition: right 0.3s ease;
      -moz-transition: right 0.3s ease;
      -o-transition: right 0.3s ease;
      transition: right 0.3s ease;
      z-index: 98;
      white-space: nowrap;
    }
    &:hover{
      background: #ff9000;
      span.img{
        background: $orange;
      }
      span.des{
        right: 40px;
        -webkit-transition: right 0.3s ease;
        -moz-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
      }
    }
  }
  .views-cart-item.language{
    border-bottom: none;
    height: 39px;
  }
  .shopping-cart{
    background: $orange;
    span.num{
      position: absolute;
      right: 45px;
      top: 0;
      height: 20px;
      line-height: 20px;
      background: $orange;
      @include border-radius(3px);
      i{
        padding: 0 5px;
      }
      &:after{
        content: " ";
        width: 0;
        height: 0;
        border-left: 5px solid $orange;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        position: absolute;
        top: 5px;
      }
    }
  }
}
.video{
  border: 1px solid #DDD;
  @include border-radius(3px);
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  background: #FFF;
  h2{
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    padding-bottom: 3px;
  }
  ul{
    li{
      margin-bottom: 15px;
      .item-video{
        position: relative;
        border: 1px solid #DDD;
        .video-thumbnail{
          position: relative;
          overflow: hidden;
          .author-view{
            position: absolute;
            z-index: 8;
            top: 5px;
            left: 5px;
            background: #585858;
            padding: 0 5px;
            @include border-radius(3px);
            color: #FFF;
          }
          .icon-video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            display: none;
            z-index: 9;
            var{
              position: absolute;
              top: 45%;
              left: 45%;
              color: #a7a7a7;
              font-size: 26px;
            }
          }
        }
        .video-content{
          padding: 5px;
          .title{
            height: 40px;
            line-height: 20px;
            overflow: hidden;
            a{
              font-weight: bold;
            }
          }
          .view{
            ul{
              li{
                display: inline-block;
                font-style: italic;
                &:after{
                  content: "-";
                  position: relative;
                  margin: 0 5px;
                }
                &:last-child{
                  &:after{
                    content: "";
                  }
                }
              }
            }
          }
        }
        &:hover{
          border-color: $default;
          .author-view{
            top: -100%;
            @include transition(top 0.4s ease 0.1s);
          }
          .icon-video{
            display: block;
          }
        }
      }
    }
  }
}
.rating{
  border: 1px solid #DDD;
  @include border-radius(3px);
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  background: #FFF;
  h2{
    padding-bottom: 3px;
    border-bottom: 1px solid #DDD;
  }
  ul{
    .summary-rating{
      width: 30%;
      margin-top: 10px;
      float: left;
      p{
        text-align: center;
        margin-top: 0;
        padding: 0;
      }
      .rating-post{
        font-size: 13px;
        color: #dedddc;
        .rating-box{
          line-height: 1;
          position: relative;
          white-space: nowrap;
          display: inline-block;
          margin: 0 auto;
          span{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            line-height: 1;
            color: #ffd300;
          }
        }
      }
    }
    .rating__row{
      width: 70%;
      float: left;
      padding: 0 0 0 10px;
      border-left: 1px solid #DDD;
      margin-top: 10px;
      .row-box{
        display: inline-block;
        width: 100%;
      }
      .rrow__label{
        margin: 2px 0 0 0;
        width: 70px;
        font-size: 12px;
        float: left;
      }
      .rrow__percent{
        width: 180px;
        padding: 8px 20px 0 0;
        float: left;
        .progress-bar{
          height: 4px;
          width: 100%;
          background-color: #eeeeee;
          box-shadow: inset 1px 1px 0 #dcdcdc;
          .progress-bar__inner{
            background-color: red;
            height: 100%;
          }
        }
      }
      .rrow__counting{
        display: inline-block;
        width: 30px;
        margin-right: 15px;
        color: #999999;
        font-size: 12px;
      }
      .rrow__descr{
        display: inline-block;
        color: #bababa;
        font-size: 12px;
      }
    }
  }
}
.video-play{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  overflow-y: scroll;
  display: none;
  .warpper-video{
    overflow: auto;
    .close-video{
      position: fixed;
      width: 40px;
      height: 40px;
      top: 0;
      right: 15px;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
      color: #d4d2d2;
      cursor: pointer;
    }
    .content-video{
      background: #f1f1f1;
      padding: 8px;
    }
  }
  .list-video{
    ul{
      li{
        .video-item{
          margin-bottom: 15px;
          background: #FFF;
          border-bottom: 1px solid #DDD;
          .video-thumbnail{
            position: relative;
            .play-icon{
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.4);
              span{
                width: 40px;
                height: 40px;
                display: inline-block;
                position: absolute;
                top: 45%;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 0;
                font-size: 28px;
                color: #b9b8b8;
              }
            }
          }
          
          .content{
            padding: 0 5px;
            a.title{
              font-weight: bold;
              display: inline-block;
              width: 100%;
              height: 40px;
              line-height: 20px;
              overflow: hidden;
            }
            .view,
            a.author{
              opacity: 0.7;
            }
            .view{
              padding-bottom: 5px;
            }
          }
          &:hover{
            border-bottom-color: $default;
            .video-thumbnail{
              .play-icon{
                background: rgba(0,0,0,0.7);
                span{
                   color: #d8d8d8;
                }
              }
            }
          }
        }
      }
    }
  }
}
.watch-header{
  margin: 0 0 10px;
  padding: 15px;
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
  background: #FFF;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  .watch-title-container{
    line-height: normal;
    word-wrap: break-word;
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
  }
  .watch-user-header{
    display: inline-block;
    width: 100%;
    float: left;
    .view{
      position: relative;
      float: right;
      border-bottom: 2px solid $default;
      text-align: right;
      font-size: 19px;
      color: #666;
      white-space: nowrap;
      bottom: -1px;
      z-index: 10;
    }
  }
  .watch-action-buttons{
    position: relative;
    padding-top: 5px;
    border-top: 1px solid #e2e2e2;
    display: inline-block;
    width: 100%;
    .watch-secondary-actions{
      width: 50%;
      display: inline-block;
      min-height: 1px;
      float: left;
      ul.share{
        li{
          display: inline-block;
          width: 32px;
          height: 32px;
          background: #3b5999;
          position: relative;
          span{
            position: absolute;
            white-space: nowrap;
            top: -25px;
            height: 20px;
            background: #000;
            color: #FFF;
            @include border-radius(3px);
            padding: 0 5px;
            font-size: 12px;
            line-height: 20px;
            display: none;
            &:before{
              content: "";
              border-top: 5px solid #000;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              position: absolute;
              bottom: -5px;
              left: 10px;
            }
          }
          &:hover{
            span{
              display: block;
            }
          }
        }
      }
    }
    .watch-sentiment-actions{
      width: 50%;
      display: inline-block;
      min-height: 1px;
      float: left;
      text-align: right;
      span{
        position: relative;
        top: auto;
        color: #000;
        var{
          font-size: 16px;
          position: relative;
          top: 3px;
          opacity: .5;
          display: inline-block;
          @include transform-rotate(-20deg);
          cursor: pointer;
        }
        &:hover{
          var{
            opacity: .7;
          }
        }
      }
      span.unlike{
        var{
          @include transform-rotate(205deg);
          top: -2px;
        }
      }
    }
  }
}
.video-play.on{
  display: block;
}
#modal-comment{
  .comment-post-view{
    p.title{
      font-size: 16px;
      font-weight: bold;
      padding: 5px 0;
    }
    p.address{
      color: #928686;
      font-style: italic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .view-rating{
      background: #FFF;
      border: 1px solid #DDD;
      @include border-radius(3px);
      padding: 5px;
      margin-top: 5px;
      p.total-comment{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 15px;
      }
      ul{
        margin-bottom: 10px;
        li{
          padding: 3px 0;
          display: inline-block;
          float: none;
          width: 22%;
          clear: both;
          margin-right: 5px;
          font-size: 12px;
          text-align: center;
          white-space: nowrap;
          .counts{
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.block-like{
  padding: 7px 0;
  li{
    display: inline-block;
    margin-bottom: 0 !important;
    &:first-child{
      &:after{
        content: "/";
        position: relative;
        margin: 0 3px;
      }
    }
    span{
      cursor: pointer;
    }
    .icon{
      position: relative;
      top: 2px;
    }
  }
}
.video-detail{
  padding: 15px 0;
}
.video-related{
  padding: 0 10px;
  background: #FFF;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  ul{
    li{
      .video-item{
        padding: 10px 0;
        h3{
          font-size: 14px;
          font-weight: bold;
        }
        p{
          color: #767676;
        }
      }
      &:first-child{
        .video-item{
          border-bottom: 1px solid #DDD;
        }
      }
    }
  }
}
