.like{
  position: absolute;
  top: 0;
  right: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;
  span{
    font-size: 16px;
    color: #ff01a8;
    &:before{
      position: relative;
      top: 3px;
    }
  }
  &:hover{
    color: #FFF;
  }
}
.position-name{
  position: absolute;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFF;
  background: rgba(0,0,0,0.5);
  width: 100%;
  a{
    color: #FFF;
  }
}
.list-item{
  .item{
    margin: 10px 0;
    border: 1px solid $color-border;
    background: #FFF;
    .item-content{
      padding: 5px;
      .title{
        border-bottom: 1px solid $color-border;
        padding-bottom: 5px;
        a{
          font-weight: bold;
          height: 40px;
          line-height: 20px;
          overflow: hidden;
        }
      }
      .price{
        padding: 10px 0;
        .cost{
          color: #ed1c24;
          font-size: 20px;
          font-weight: 700;
          white-space: nowrap;
          var{
            position: relative;
            font-size: 14px;
            top: -10px;
          }
        }
        
        .sale{
          background: red;
          @include border-radius(3px);
          color: #FFF;
          padding: 2px 5px;
          position: relative;
          height: 20px;
          margin-left: 10px;
          &:before{
            content: " ";
            border-right: 7px solid red;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            position: absolute;
            left: -7px;
            top: 6px;
          }
        }
      }
      .view{
        .price-sale{
          text-decoration: line-through;
          color: #9a9a9a;
        }
        var{
          position: relative;
          font-size: 14px;
          top: -5px;
          text-decoration: none;
          color: #9a9a9a;
        }
        span.icon{
          &:before{
            position: relative;
            top: 2px;
          }
        }
      }
    }
    .img{
      position: relative;
      .highlight{
        position: absolute;
        top: 0;
        right: 0;
        &:before{
          content: " ";
          position: absolute;
          top: 0px;
          right: 0px;
          border-right: 50px solid #ff0000;
          border-bottom: 50px solid transparent;
        }
        span{
          color: white;
          z-index: 9;
          position: relative;
          transform: rotate(45deg);
          display: block;
          top: 9px;
          right: 1px;
          text-transform: uppercase;
        }
      }
      .item-hover{
        position: absolute;
        display: none;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.8);
        .item-voucher{
          width: 50%;
          float: left;
          color: #FFF;
          padding: 5px;
          font-style: italic;
        }
        .readmove{
          width: 50%;
          float: left;
          height: 50px;
          line-height: 50px;
          text-align: right;
          padding-right: 10px;
          a{
            @include border-radius(3px);
            color: #FFF;
            text-transform: uppercase;
            background: $background-default;
            padding: 7px 10px;
          }
        }
      }
    }
    &:hover{
      .img{
        .item-hover{
          display: block;
        }
      }
    }
  }
}
.list-province-item{
  ul.list-travel{
    /*margin-top: 10px;*/
    li{
      display: inline-block;
      width: 100%;
          padding: 8px 0;
      .item{
        width: 100%;
        display: inline-block;
        h2{
          font-size: 14px;
          font-weight: bold;
        }
        p.hour-open{
          border-top: 1px solid #DDD;
          margin-top: 3px;
          padding-top: 5px;
          span{
            color: red;
          }
        }
        .fs-game{
          display: inline-block;
          width: 100%;
          position: relative; 
          float: left;
          .list-game{
            margin-top: 5px;
            margin-bottom: 5px;
            display: inline-block;
            width: 60%;
            float: left;
            li{
              padding: 0;
              border-bottom: none;
              margin: 2px 0;
              span{
                font-size: 12px;
              }
              span.game{
                color: $game;
              }
              span.restaurant{
                color: $restaurant;
              }
              span.tours{
                color: $tours;
              }
            }
          }
          .views{
            display: inline-block;
            width: 35%;
            position: absolute;
            top: 30px;
            background: $background-default;
            @include border-radius(3px);
            padding: 5px 10px;
            color: #FFF;
            cursor: pointer;
            text-align: center;
            float: right;
            right: 0;
          }
        }

        p.strict-views{
          font-style: italic;
          cursor: pointer;
          margin-top: 10px;
        }
        .item-img{
          position: relative;
          .overlay_border{
            position:absolute;
            width:100%;
            height:100%;
            z-index:1;
            -o-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            top: 0px;
            right: 5px;
            bottom: 5px;
            left: 0px;
            &:after,
            &:before{
              content: '';
              display: block;
              position: absolute;
              z-index:10;
              top: 10px;
              left: 10px;
              bottom: 10px;
              right: 10px;
              -o-transition: all 0.3s ease-in-out 0s;
              -moz-transition: all 0.3s ease-in-out 0s;
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }
            &:before{
              border-top: 1px solid #fff;
              border-bottom: 1px solid #fff;
              -webkit-transform: scale(0, 1);
              -ms-transform: scale(0, 1);
              transform: scale(0, 1);
            }
            &:after{
              border-left: 1px solid #fff;
              border-right: 1px solid #fff;
              -webkit-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              transform: scale(1, 0);
            }
          }
          &:hover{
            .overlay_border{
              background: rgba(0,0,0, 0.3);
              opacity: 0.5;
              -o-transition: all 0.3s ease-in-out 0s;
              -moz-transition: all 0.3s ease-in-out 0s;
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
              &:before,
              &:after{
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
              }
            }
          }
/*          .block-bottom .bottom-item .overlay_border{
            
          }
          .block-bottom .bottom-item:hover .overlay_border{
            
          }
          .block-bottom .bottom-item .overlay_border:before,
          .block-bottom .bottom-item .overlay_border:after{
            
          }
          .block-bottom .bottom-item .overlay_border:before{
          }
          .block-bottom .bottom-item .overlay_border:after{

          }
          .block-bottom .bottom-item:hover .overlay_border:before,
          .block-bottom .bottom-item:hover .overlay_border:after,
          .block-bottom .bottom-item.hover .overlay_border:before,
          .block-bottom .bottom-item.hover .overlay_border:after{
            
          }
          .block-bottom .bottom-item .overlay_border:before,
          .block-bottom .bottom-item .overlay_border:before,
          .block-bottom .bottom-item .overlay_border:after,
          .block-bottom .bottom-item .overlay_border:after {
            
          }*/
        }
      }
    }
  }
}
