.user{
  background: #e9ebee;
  .banner-profile{
    position: relative;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background: #FFF;
    
    .cover-photo{
      overflow: hidden;
      position: relative;
      .change-cover-photo{
        position: absolute;
        top: -100px;
        right: 5px;
        background: rgba(0,0,0,0.5);
        padding: 5px 10px;
        @include transition(all 0.4s ease);
        @include border-radius(3px);
        cursor: pointer;
        var{
          color: #e8e8e8;
          font-size: 18px;
          position: relative;
          top: 3px;
        }
        span{
          color: #FFF;
        }
      }
      &:hover{
        .change-cover-photo{
          top: 5px;
        }
      }
    }

    .menu-profile-top{
      height: 40px;
      background: #FFF;
      ul{
        li{
          display: inline-block;
          position: relative;
          float: left;
          a{
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            border-left: 1px solid #DDD;
            display: inline-block;
            position: relative;
            .mail-box{
              position: absolute;
              top: -25px;
              background: #fa501e;
              padding: 0 7px;
              font-size: 10px;
              color: #FFF;
              @include border-radius(3px);
              line-height: 20px;
              height: 20px;
              &:before{
                content: " ";
                border-top: 5px solid  #fa501e;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                bottom: -5px;
                display: inline-block;
              }
            }
          }
          ul{
            position: absolute;
            width: 150px;
            background: #FFF;
            border: 1px solid #DDD;
            display: none;
            z-index: 99;
            li{
              display: inline-block;
              width: 100%;
              a{
                border-left: none;
              }
              &:hover{
                background: #f5f5f5;
              }
            }
          }
          &:hover{
            background: #f5f5f5;
          }
          &:hover ul{
            display: block;
          }
        }
      }
    }
    .profile-pic{
      position: absolute;
      width: 160px;
      height: 160px;
      background: #FFF;
      border: 1px solid #DDD;
      bottom: 15px;
      left: 15px;
      @include border-radius(3px);
      padding: 5px;
      a{
        position: relative;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        .change-avatar{
          position: absolute;
          bottom: -100px;
          left: 0;
          width: 100%;
          background: rgba(0,0,0,0.5);
          padding: 5px;
          @include transition(all 0.5s ease);
          var{
            color: #e8e8e8;
            font-size: 18px;
            position: relative;
            top: 3px;
          }
          span{
            color: #FFF;
          }
        }
        &:hover{
          .change-avatar{
            bottom: 0;
          }
        }
      }
    }
  }
}
.post{
  .post-container{
    background: #f3f3f3;
    width: 100%;
    display: inline-block;
    border: 1px solid #DDD;
    margin-top: 15px;
    .sidebar-left{
      width: 20%;
      float: left;
      ul{
        li{
          a{
            height: 40px;
            line-height: 40px;
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid #DDD;
            span{
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              border-right: 1px solid #DDD;
              display: inline-block;
              float: left;
              margin-right: 10px;
            }
          }
          &:first-child{
            a{
              background: #f6f7f9;
            }
          }
        }
      }
    }
    .content{
      width: 80%;
      float: left;
      border-left: 1px solid #DDD;
      .user-breadcrumb{
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #DDD;
        background: #f6f7f9;
        padding-left: 15px;
        .breadcrumb{
          background: none;
          margin: 0;
          padding: 0;
        }
      }
      .body-container{
        padding: 15px;
        width: 100%;
        .body-content{
          background: #FFF;
          border: 1px solid #DDD;
          min-height: 500px;
          h2{
            font-size: 16px;
            height: 40px;
            background: #f7f7f8;
            line-height: 40px;
            padding-left: 10px;
            border-bottom: 1px solid #DDD;
          }
          .page{
            padding: 10px;
            min-height: 500px;
            .form-control{
              @include border-radius(0px);
              @include box-shadow(none);
            }
            textarea.form-control{
              height: 200px;
            }
            .post-list-tour{
              h2{
                font-size: 16px;
                font-weight: bold;
                border-bottom: 2px solid #DDD;
                height: auto;
                line-height: normal;
                margin-bottom: 15px;
                background: none;
                padding-left: 0;
                padding-bottom: 5px;
              }
              .post-search{
                margin-bottom: 15px;
                .btn-search{
                  height: 34px;
                  background: $tours;
                  line-height: 34px;
                  text-align: center;
                  display: inline-block;
                  width: 100%;
                  color: #FFF;
                  @include border-radius(3px);
                }
              }
              ul{
                li{
                  margin-bottom: 15px;
                  .item{
                    border: 1px solid #DDD;
                    .img{
                      position: relative;
                      .item-checked{
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 9;
                        input{
                          margin: 0;
                        }
                      }
                    }
                  }
                  .album-title{
                    height: 40px;
                    line-height: 20px;
                    overflow: hidden;
                    padding: 0 5px;
                  }
                  &:hover{
                    .item{
                      border-color: red;
                    }
                  }
                }
              }
            }
            .utilities{
              margin-top: 0;
              margin-bottom: 15px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
.user.album{
  .post{
    .post-container {
      .content{
        width: 100%;
      }
    }
  }
}
.list-album-profile{
  li{
    .item{
      margin-bottom: 15px;
      border: 1px solid #DDD;
      .img{
        width: 167px;
        height: 167px;
      }
      .album-title{
        padding: 5px;
        p{
          height: 20px;
          line-height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 12px;
        }
        p.total-photos{
          color: #afadad;
        }
      }
    }
    .item.upload{
      width: 167px;
      border: 1px dashed #7f7f7f;
      height: 219px;
      @include border-radius(3px);
    }
  }
}
.list-table{
  width: 100%;
  thead{
    th{
      height: 40px;
      line-height: 40px;
      padding: 0 5px;
      background: #f7f7f8;
      text-transform: uppercase;
    }
  }
  tbody{
    tr{
      td{
        padding: 5px;
        border-top: 1px solid #DDD;
      }
      .function{
        a{
          display: inline-block;
          margin-right: 5px;
          font-size: 15px;
        }
      }
      td.order-id{
        a{
          color: $tours;
          font-weight: bold;
        }
      }
      &:nth-child(2n+2){
        background: #f9f9f9;
      }
      &:hover{
        background: #f7f7f7;
      }
    }
    tr.active{
      td{
        font-weight: bold;
      }
    }
  }
}
.timeline{
  padding-top: 15px;
  padding-bottom: 15px;
  .about{
    border: 1px solid #DDD;
    background: #FFF;
    padding: 10px;
    .instroduction{
      display: inline-block;
      width: 100%;
      p{
        line-height: 22px;
        text-align: justify;
      }
    }
    h2{
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #DDD;
      padding-bottom: 3px;
    }
    ul{
      li{
        line-height: 24px;
      }
    }
  }
  .photos{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    background: #FFF;
    border: 1px solid #DDD;
    padding: 10px;
    h2{
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #DDD;
      padding-bottom: 3px;
      margin-bottom: 15px;
    }
  }
  .blog{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    background: #FFF;
    border: 1px solid #DDD;
    padding: 10px;
    h2{
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #DDD;
      padding-bottom: 3px;
      margin-bottom: 5px;
    }
    ul{
      li{
        border-bottom: 1px solid #DDD;
        display: inline-block;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        img{
          max-width: 30%;
          float: left;
          padding-right: 5px;
        }
        p{
          text-align: justify;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
  
  .content{
    border: 1px solid #DDD;
    padding: 10px;
    background: #FFF;
    margin-bottom: 15px;
    h2{
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      border-bottom: 2px solid #DDD;
      padding-bottom: 3px;
    }
    .timeline-block-item{
      display: inline-block;
      width: 100%;
      margin-top: 10px;
    }
  }
}
.view-order{
  padding: 10px;
  h3{
    font-size: 16px;
    font-weight: bold;
  }
  ul{
    margin-bottom: 30px;
    li{
      line-height: 24px;
      span{
        color: #fa501e;
        font-style: italic;
      }
    }
  }
  .table-order-detail{
    width: 100%;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-top: 10px;
    thead{
      th{
        background: #f7f7f8;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        border-bottom: 1px solid #DDD;
        border-right: 1px solid #DDD;
      }
    }
    tbody{
      td{
        padding: 5px 5px;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
      }
    }
    tfoot{
      td{
        height: 40px;
        padding: 0 5px;
      }
      .summary{
        padding-right: 10px;
        text-align: right;
      }
      .summary-price{
        border-right: 1px solid #DDD;
      }
    }
  }
}
.back,
.print{
  background: #fa501e;
  padding: 5px 15px;
  @include border-radius(3px);
  color: #FFF;
  margin-top: 15px;
  &:hover{
    color: #000;
  }
}
.back{
  background: $tours;
}

.user-profile{
  label{
    font-weight: normal;
  }
  .form-input{
    position: relative;
    .form-control{
      height: 40px;
      @include border-radius(0px);
      @include box-shadow(none);
      padding-left: 45px;
    }
    select.form-control{
      padding: 6px 12px;
    }
    textArea.form-control{
      height: 200px;
      padding: 6px 12px;
    }
    span.icon{
      width: 38px;
      height: 38px;
      position: absolute;
      top: 1px;
      left: 0;
      display: inline-block;
      border-right: 1px solid #DDD;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
    }
  }
  .btn{
      background: #fa501e;
      padding: 0 30px;
      border: none;
      @include border-radius(3px);
      text-transform: uppercase;
      color: #FFF;
      outline: none;
      height: 40px;
      line-height: 40px;
      &:focus,
      &:visited,
      &:active,
      &:hover{
        border: none;
        @include border-radius(3px);
        text-transform: uppercase;
        color: #FFF;
        outline: none;
        @include box-shadow(none);
      }
      &:hover{
        background: #e84e20;
      }
    }
}
