.user-post{
  margin-top: 20px;
  .title{
    border-bottom: 2px solid $default;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    a{
      display: inline-block;
      border-bottom: 4px solid #cc050a;
      margin-bottom: -3px;
    }
    span{
      font-size: 22px;
      position: relative;
      &:before{
        position: relative;
        top: 3px;
      }
    }
  }
  .col-md-7{
    width: 60.5%;
    .photo-big{
      position: relative;
      .album-title{
        height: 30px;
        padding-left: 5px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.5);
        font-weight: bold;
        .name{
          width: 70%;
          float: left;
          line-height: 30px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #FFF;
          a{
            color: #FFF;
          }
        }
        .author{
          width: 30%;
          float: left;
          p{
            height: 30px;
            line-height: 30px;
            color: #FFF;
            text-align: right;
            font-weight: normal;
            padding-right: 5px;
            font-size: 12px;
            span{
              font-size: 10px;
            }
          }
        }
        
      }
    }
  }
  .col-md-5{
    width: 39.5%;
  }
  ul{
    li{
      margin-bottom: 16px;
      .photo-item{
        position: relative;
        overflow: hidden;
        .hover-posts,
        .position-name{
          transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
        }
        .position-name{
          
        }
        .hover-posts{
          visibility: hidden;
          display: block;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          z-index: 5;
          top: 0;
          text-align: center;
          transform: scale(0);
          span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            color: #fff;
            font-size: 13px;
            text-transform: capitalize;
            i{
              color: #fff;
              font-size: 36px;
              display: block;
              margin-bottom: 5px;
            }
          }
        }
      }
      &:hover a.hover-posts {
        visibility: visible;
        transform: scale(1);
      }
      &:hover .position-name{
        transform: translateY(70px);
      }
    }
  }
}