.list-cat{
  padding: 8px;
  background: #F8f8f8;
}
.filter{
  ul{
    display: inline-block;
    width: 100%;
    background: #FFF;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    li{
      display: inline-block;
      border-right: 1px solid #DDD;
      width: 25%;
      float: left;
      text-align: center;
      padding: 5px 0;
      span{
        position: relative;
        top: 3px;
      }
    }
  }
}
.popup-page {
  .popup-container.tour{
    background: #f8f8f8;
    .popup-body{
      .slider{
        background: #FFF;
        padding: 8px;
        border: 1px solid #DDD;
      }
      .description{
        h2{
          font-size: 14px;
          font-weight: bold;
          padding-bottom: 10px;
        }
        p.expt{
          padding-bottom: 10px;
        }
        .item{
          border-top: 1px solid #DDD;
          padding: 10px 0;
          display: inline-block;
          width: 100%;
          p.cost{
            position: relative;
            text-decoration: line-through;
            font-size: 16px;
            span{
              position: relative;
              top: -5px;
            }
          }
          p.price-sale{
            font-size: 30px;
            font-weight: bold;
            color: red;
            position: relative;
            margin-top: 15px;
            span{
              position: relative;
              top: -19px;
              font-size: 20px;
            }
            var{
              background: red;
              @include border-radius(3px);
              position: relative;
              color: #FFF;
              font-size: 16px;
              font-weight: normal;
              padding: 5px 10px;
              height: 30px;
              display: inline-block;
              position: relative;
              top: -8px;
              margin-left: 15px;
              &:before{
                content: " ";
                border-right: 8px solid red;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                position: absolute;
                left: -8px;
                top: 40%;
              }
            }
          }
          .quanlity{
            width: 50%;
            float: left;
            padding-top: 5px;
            input{
              display: inline-block;
              width: 80px;
              height: 30px;
            }
          }
          .payment{
            width: 50%;
            float: left;
            a{
              text-transform: uppercase;
              font-weight: bold;
              text-align: center;
              @include border-radius(3px);
              background: red;
              color: #FFF;
              padding: 10px 15px;
              display: inline-block;
            }
          }
          p.count-user-payment{
            width: 50%;
            float: left;
            border-right: 1px solid #DDD;
            font-weight: bold;
            span{
              margin-right: 5px;
              display: inline-block;
              &:before{
                position: relative;
                top: 2px;
              }
            }
          }
          p.time{
            width: 50%;
            float: left;
            text-align: right;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.list-tours-related{
  margin-top: 15px;
  h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  ul{
    width: 100%;
    display: inline-block;
    border: 1px solid #DDD;
    background: #FFF;
    padding-bottom: 15px;
    li{
      margin-top: 8px;
      display: inline-block;
      .item{
        position: relative;
        .photo{
          position: absolute;
          right: 1px;
          top: 1px;
          background: rgba(0,0,0,0.5);
          color: #FFF;
          padding: 3px 5px;
          font-size: 12px;
        }
        p.img{
          border: 1px solid transparent;
        }
        p{
          text-align: center;
        }
        p.title{
          height: 40px;
          line-height: 20px;
          overflow: hidden;
          margin-top: 5px;
        }
      }
      &:hover{
        .item{
          p.img{
            border: 1px solid red;
          }
        }
      }
    }
    
  }
}
.commitment{
  margin-top: 15px;
  .commitment-view{
    border: 1px solid #DDD;
    background: #FFF;
    padding-bottom: 50px;
    .content{
      height: 200px;
      padding: 8px;
      overflow: hidden;
      h2{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
      }
      p{
        line-height: 22px;
        margin-top: 10px;
        text-align: justify;
      }
    }
    .content.expanded{
      height: auto;
    }
  }
  .readmove{
    text-align: center;
    a{
      border: 1px solid #DDD;
      @include border-radius(3px);
      background: #FFF;
      position: relative;
      top: -16px;
      padding: 7px 15px;
      span.icon{
        font-size: 20px;
        display: inline-block;
        &:before{
          position: relative;
          top: 5px;
        }
      }
    }
    a.up{
      span.icon{
        @include transform-rotate(180deg);
        &:before{
          top: 0;
        }
      }
    }
  }
}
.about{
  .detail{
    background: #FFF;
    border: 1px solid #DDD;
    padding: 15px;
    display:inline-block;
    width: 100%;
    float: left;
  }
  .tab-title{
    display:inline-block;
    width: 100%;
    float: left;
    ul{
      li{
        display: inline-block;
        float: left;
        a{
          height: 30px;
          padding: 0 15px;
          display: inline-block;
          line-height: 30px;
          text-transform: uppercase;
        }
      }
      li.active{
        a{
          background: #FFF;
          border-top: 1px solid #DDD;
          border-left: 1px solid #DDD;
          border-right: 1px solid #DDD;
          position: relative;
          bottom: -1px;
        }
      }
    }
  }
}
.post-position{
  margin-top: 30px;
  h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #DDD;
    padding-bottom: 4px;
    margin-bottom: 15px;
  }
  background: #FFF;
  border: 1px solid #DDD;
  padding: 5px;
  .map-position{
    width: 100%;
    height: 200px;
    background: #DDD;
    margin-top: 15px;
  }
}
.payment-now{
  text-align: center;
  a{
    display: inline-block;
    background: red;
    width: 50%;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 15px;
    @include border-radius(3px);
  }
}