.views-popup{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1031;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  .views-container{
    width: 60%;
    left: -60%;
    webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    -ms-transition: left 0.35s ease;
    transition: left 0.35s ease;
    height: 100%;
    position: absolute;
    top: 0;
    float: left;
    display: block;
    
    z-index: 1032;
    background: #FFF;
    .views-header{
      background: #e2eef9;
      position: fixed;
      width: 60%;
      h2{
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        span{
          font-size: 14px;
        }
      }
      .views-close{
        height: 40px;
        width: 50px;
        line-height: 40px;
        text-align: center;
        border-left: 1px solid #DDD;
        cursor: pointer;
        span{
          top: 4px;
          position: relative;
          color: #333;
        }
      }
    }
    .views-content{
      height: 100%;
      padding-top: 40px;
      .views-content-wp{
        overflow-y: scroll;
        height: 100%;
        padding: 10px 0;
        h2{
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          margin-top: 15px;
          display: inline-block;
          width: 100%;
        }
        .description{
          p{
            text-align: justify;
            line-height: 22px;
            margin-top: 10px;
          }
        }
        .views-slider{
          display: inline-block;
          width: 100%;
        }
      }
      .views-content-wp.map{
        overflow: visible;
      }
    }
  }
  .views-container.open{
    left: 0;
    webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    -ms-transition: left 0.35s ease;
    transition: left 0.35s ease;
}
  @-moz-keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  @-webkit-keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  @-o-keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
  @keyframes spin { 
    100% {
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg)
    }
  }
}

.views-popup.view{
  display: block;
}
