.views-popup{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1051;
  position: fixed;
  top: 0;
  left: 0;
  .views-container{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1052;
    background: #FFF;
  }
}